---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Outer Wilds Planets">
    <main>
        <Header></Header>
        <h1>PLANETS</h1>
    </main>
</Layout>