---
import OuterWilds from '../images/bg-2.jpg';
---

<nav class="bg-gray-800 h-12 sticky flex items-center justify-center w-full">
    <div class="w-64 flex align-middle justify-between">
        <a class="text-white text-lg font-medium" href="/planets">Planets</a>
        <a class="text-white text-lg font-medium" href="">Characters</a>
        <a class="text-white text-lg font-medium" href="">Gallery</a>
    </div>
</nav>

<!-- <img src={OuterWilds.src} alt="Outer Wilds" class="bg-cover"> -->